*{
    margin: 0;
    padding: 0;
}
.main{
    height:100vh;
    width:100vw;
    display: flex;
}
.main .section1{
    background-color:#265cc5; 
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-family: "Sofia Pro Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bolder;
}
.s1{
    margin-bottom: 10%;
}
.main .section1 .s1 .content1, .s2 .content2{
    text-align: center;
    background-color: #1437bf;
    width:95.5%;
    padding:10px;
    position: relative;
    top: -5px;
}
.section2{
    width: 70%;
    height: 100%;
    /* background-color: pink; */
    background-image: url(87296c4c-5e25-4d69-8d49-19d78ed39dd3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; /* Center the background image horizontally and vertically */

}
.section2 img{
    width: 40%;
    height: 25%;
    position: absolute;
    left: 59%;
    bottom: 5%;
}